apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: devops-demo
  labels:
    app: postgres
    component: database
type: Opaque
stringData:
  POSTGRES_DB: devopsdb
  POSTGRES_USER: devops
  POSTGRES_PASSWORD: devops123
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: devops-demo
  labels:
    app: postgres
data:
  PGDATA: /var/lib/postgresql/data/pgdata
